/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: white;
  --text-color: black;
}

.dark {
  --bg-color: #343a40;
  --text-color: white;
}

body {
  @apply bg-[var(--bg-color)] text-[var(--text-color)];
}
